* {
  text-align: center; }

.cell {
  border: 2px solid black;
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: -4px; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

#head, #directions, #turn {
  font-family: arial; }

#head {
  font-size: 30px;
  margin-top: 50px; }

#directions {
  font-size: 20px; }

#turn {
  margin-bottom: 20px; }
